:root {
    --bsf-darker: #2C3E50;
    --bsf-accent: #1ABC9C;
}

.bsf_bg_darker {
    background-color: var(--bsf-darker);
}

.bsf_bg_accent {
    background-color: var(--bsf-accent);
}

.hero img {
    width: 250px;
}

.graphic .line {
    width: 140px;
    height: 4px;
    border-radius: 999px;
    background-color: black;
}

.about .graphic .line {
    background-color: white;
}

.px_about,
.px_contact {
    padding: 0 80px;
}

.footer_navigation {
    background-color: #3A546D;
}

.footer_copyright {
    background-color: #2C3E50;
}