:root {
    --bsf_darker: #2C3E50;
}

.bsf_bg_darker {
    background-color: var(--bsf_darker);
}

.main-header ul {
    margin-bottom: 0
}

.hero,
.about {
    background-color: #1ABC9C;
}

.about_container,
.contact_container {
    width: 70%;
}

.footer_navigation {
    background-color: #3A546D;
}

.footer_copyright {
    background-color: #2C3E50;
}