:root {
    --bsf-darker: #2C3E50;
    --bsf-accent: #1ABC9C;
    --bsf-dark: #3A546D;
}

.bsf_bg_darker {
    background-color: var(--bsf-darker);
}

.bsf_bg_accent {
    background-color: var(--bsf-accent);
}

.bsf_bg_dark {
    background-color: var(--bsf-dark);
}

.hero img {
    width: 250px;
}

.graphic .line {
    width: 140px;
    height: 4px;
    border-radius: 999px;
    background-color: black;
}

.hero .graphic .line,
.about .graphic .line {
    background-color: white;
}

.px_about,
.px_contact {
    padding: 0 80px;
}

.textarea_height {
    height: 200px!important;
}

footer .social-icon {
    display: inline-block;
    width: 40px;
    line-height: 38px;
    text-align: center;
    font-size: 20px;
    border-radius: 50%;
    border: 1px solid white;
}

.footer_link {
    text-decoration: none;
    color: var(--bsf-accent);
}